@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    font-family: Output;
}

@import "tailwindcss";

.active hr{
    @apply block
}

@theme {
    --color-primary: #5F6FFF;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
  }
  /* ::-webkit-scrollbar {
   @apply hidden
  } */
